{% extends "base.html" %}
{% block content %}
    <h2>Create New Quiz</h2>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset>
            <legend>Quiz Details</legend>
            <div>
                {{ form.title.label }}<br>
                {{ form.title(size=50) }}<br>
                {% if form.title.errors %}
                    {% for error in form.title.errors %}
                        <span class="error-message">[{{ error }}]</span>
                    {% endfor %}
                {% endif %}
            </div>
            <div>
                {{ form.description.label }}<br>
                {{ form.description(rows=4, cols=50) }}<br>
                {% if form.description.errors %}
                    {% for error in form.description.errors %}
                        <span class="error-message">[{{ error }}]</span>
                    {% endfor %}
                {% endif %}
            </div>
        </fieldset>
        <div>
            {{ form.submit() }}
        </div>
    </form>
{% endblock content %}
